body {
  background: #fff;
}

h1 {
	color:darkblue;
}


.img {
	float: left;
	height: 200px#;
	width: 250px#;
	margin: 0px;
}

h3 {
	font-size: 20px;
}

#map{

	width: 1200px;
	height: 400px;
	background: yellow;
}