html(lang='en')
	head
		meta(charset='utf-8')
		title Example Development Company
		link(rel="stylesheet", href="/css/app.css")
		script(src="/js/app.js")
	body
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
			a.navbar-brand(href='index.html') Home   |
			a.navbar-brand(href='team.html')    Team     |
			a.navbar-brand(href='contact.html')  Contact 	