html(lang='en')
	head
		include layout/application 
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Example Development Company
		link(rel="stylesheet", href="/css/app.css")
		script(src="/js/app.js")

		.container
			h1 Contact
			br
			p Address:Dadaşlar sokak.Altunizade mahallesi.Üskükdar/İstanbul
			br
			p Tel:0212 123 45 67
			br
			p E-mail:info@example.com
			#map My Map
			//- api key = AIzaSyCtPID2QPaXQYpZ3DqjC_JeIAaUVttyQKI
			script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtPID2QPaXQYpZ3DqjC_JeIAaUVttyQKI&callback=initMap")