include layout/application 
.container
	br
	.row
		.col-xs-12.col-sm-3.col-md-3
			.media
				.media-left
					img.thumbnail(src='/image/onurr.jpg', alt='...')
			p
				u
					a(href="tel:02121112233") Call Now
			p
				u
					a(href='mail:index@example.com') Send E-mail
			p
				u
					a(href='facebook:https://www.facebook.com') Share on Facebook  
			p
				u
					a(href='twitter:https://www.twitter.com') Share on Twitter       
		.col-xs-12.col-sm-9.col-md-9
			.media-body
				h1.media-heading
					h1.full_name Faiq Qarazade
					small Software Engineer
					br
					h3 Bio
					h5.bio lorem ipsum 
					br
				table.table.table-bordered
					tr.active
						td.col-xs-12.col-sm-9.col-md-6 School
						td.col-xs-12.col-sm-9.col-md-3
					tr
						td.school İstanbul Üniversity (Software Engineer)
						td 2012 - 2015
				table.table.table-bordered
					tr.active
						td.col-xs-12.col-sm-9.col-md-6 Experience
						td.col-xs-12.col-sm-9.col-md-3
					tr
						td.experience-1 iPos (Software Engineer)
							p Created cool staff with a great team
						td 2015 - ...
					tr
						td.experience-2 İstanbul Üniversity (Assistant)
							p Helped to Proffessor about computers
						td 2014-2015
				a(href="https://www.facebook.com")
					i.fa.fa-facebook.fa-2x 
				small  |  facebook
				br
				a(href="https://www.twitter.com")
					i.fa.fa-twitter.fa-2x 
				small |  twitter
				br
				a(href="https://www.instagram.com")
					i.fa.fa-instagram.fa-2x 
				small  |  instagram
				br

