html(lang='en')
	head
		include layout/application 
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Example Development Company
		link(rel="stylesheet", href="/css/app.css")
		script(src="/js/app.js")
			
		.container
			h1 Example Development Company
			h4 established in istanbul,2016
			.row
				.col-xs-12.col-sm-4.col-md-4
					h2
						b Services
					br
					br
					p We know how the web works, so create powerful web applications for you
					br
					p We serve in these fields:
						ul
							li Web Development
							li Responsive Design 
							li Web Application Design 
							li UI/UX Desgin
				.col-xs-12.col-sm-4.col-md-4
					h2
						b Products
					br
					br
					p We developed several products in last year.
					br
					p These are
					ul
						li GLobalMiles
						li CMT (cash money transfer sys.)
				.col-xs-12.col-sm-4.col-md-4
					h2
						b Vision
					br
					br
					p We help to you to organize your software insfrastructure,build visionary software products and prepare your organization to world's new future.