include layout/application 
.container
	h1 
		b Team
	h4
		p Our hard-worker development team with hight potential welcomes you.
	.row
		.col-xs-12.col-md-3
			a.onur-ajax(href='developer.html#onur')
				img(src='/image/onurr.jpg',alt='Developer Onur')
				.caption
					h3 
						u.onur-ajax Onur Öztuğrul
		.col-xs-12.col-md-3
			a.faig-ajax(href='developer.html#faig')
				img(src='/image/faiq.jpg',alt='Developer Faiq')
				.caption
					h3 
						u Faiq Qarazade
		.col-xs-12.col-md-3
			a.duygu_ajax(href='developer.html#duygu')
				img(src='/image/duygu.jpg',alt='Developer Duygu')
				.caption
					h3
						u Duygu Gömleksizoğlu
		.col-xs-12.col-md-3
			a.merve_ajax(href='developer.html#merve')
				img(src='/image/merve.jpg',alt='Developer Merve')
				.caption
					h3 
						u.merve-ajax Merve Dönmez